<!DOCTYPE html>
<html lang="en">
<body>

<form name="addForm" id="addForm" method="POST" action="" novalidate>
              
                <label>Title</label>
                <input type="text"  placeholder="Title" name="title" id="title" required >
               <br>
             
            
                <label>Subtitle</label>
                <input type="text"  placeholder="Subtitle" name="subtitle" id="subtitle" required >
               <br>
             
             
          
                <label>Author</label>
                <input type="text"  placeholder="Author" name="author" id="author" required >
             <br>
             
          
                <label>Blog Content</label>
                <textarea rows="5"  placeholder="Blog content" name="content" id="content" required></textarea>
           <br>
             
            <br>
            <div id="success"></div>
            <div class="form-group">
              <button type="submit"  id="sendMessageButton">Send</button>
            </div>
          </form>



</body>
</html>