<!DOCTYPE html>
<html lang="en">
<body>

<form name="addForm" id="addForm" method="POST" action="{{ url_for('updatepost',post_id=post.id) }}" >
              
                <label>Title</label>
                <input type="text"  value={{post.title}} name="title" id="title" required >
               <br>
             
            
                <label>Subtitle</label>
                <input type="text"  value={{post.subtitle}} name="subtitle" id="subtitle" required >
               <br>
             
             
          
                <label>Author</label>
                <input type="text"  value={{post.author}} name="author" id="author" required >
             <br>
             
          
                <label>Blog Content</label>
                <textarea rows="5"  value={{post.content}} name="content" id="content" required></textarea>
           <br>
             
            <br>
            <div id="success"></div>
            <div class="form-group">
              <button type="submit"  id="sendMessageButton">Update</button>
            </div>
          </form>



</body>
</html>